<h1>List of Books in our Database</h1>

<hr>
{{#each books}}
<section class="box book-summary">
    <h2>{{this.title}}</h2>
    <h4>By: {{this.author.name}}</h4>
    <a href="/books/{{this.id}}">More Details</a>

    <form action="/books/{{this.id}}/delete" method="POST">
    <br>
      <button>Delete</button>
    </form>
</section>
{{/each}}