<h2>Create an Author</h2>

<form action="/authors/create" method="POST">
  <label> Name:
    <input type="text" name="name" required />
  </label>
<br>
  <label> Favourite Food:
      <br>
    <input type="text" name="favouriteFood" />
  </label>
<br>
  <label> Country:
    <input type="text" name="country"/>
  </label>
<br>
  <button type="submit"> Create </button>
</form>
